<%- include('includes/header') %>
<%- include('includes/navbar') %>


    <main role="main" class="mt-5 pt-5" >

        <div class="contentOrgnizer">
            <h1 class="my-4">Seja Bem-vindo!</h1>

        <h3>Cadastros: </h3>
        </div> <!--contentOrgnizer-->
        

        <div class="organizeLinks mb-4 py-3">
            <a href="/register/cliente">Cadastrar Cliente</a>
            <a href="/register/lentes">Cadastrar Stock de Lentes</a>
            <a href="/register/aros">Cadastrar Stock de Aros</a>
        </div><!--organizeLinks-->

        <div class="contentOrgnizer">
            <h3>Venda de Produtos: </h3>
        </div> <!--contentOrgnizer-->

       
        <div class="organizeLinks  mb-4 py-3">
        <a href="/venda/aros">Venda de Aros</a>
        <a href="/venda/lentes">Venda de Lentes</a>
        </div> <!--organizeLinks-->

        <div class="contentOrgnizer">
            <h3>Visualização de Tabelas: </h3>
        </div> <!--contentOrgnizer-->

      
        <div class="organizeLinks  mb-4 py-3">
        <a href="/view/cliente">Visualizar Tabela de Clientes</a>
        <a href="/view/stock/aros">Visualizar Tabela de Stock de Aros</a>
        <a href="/views/stock/lentes">Visualizar Tabela de Stock de Lentes</a>

        <a href="/views/venda/lentes">Visualizar Tabela de Venda de Lentes</a>
        <a href="/views/venda/aros">Visualizar Tabela de Venda de Aros</a>
        

        </div> <!--organizeLinks-->
        


    </main>


<%- include('includes/footer') %>
