<%- include('includes/header') %>
<%- include('includes/navbar') %>

<main role="main">
    <section>
        <div class="container">
            <h1 class="pt-5">Venda de Lentes</h1>

            <form action="" class="pt-3 formulario">
                
                <div class="row pt-5 mb-4">
                    <div class="col-md-4 mb-3">
                        <input type="text" class="form-control" required placeholder="Quantidade*" name="">

                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" class="form-control" required placeholder="Referência do Lente*" name="" >
                    </div>

                    <div class="col-md-4 mb-3">
                        <input type="text" class="form-control" placeholder="Valor*" name="">
                        
                    </div>
                   

                <div class="button-Send">
                    <button class="btn btn-success" type="submit">Enviar</button>
                </div>

            </form>
        </div>
    </section>
</main>


<%- include('includes/footer') %>