<%- include('includes/header') %>
<%- include('includes/navbar') %>

<main role="main">
    <section>
        <div class="container">
            <h1 class="pt-5">Cadastrar Stock de Lentes</h1>

            <form action="/receive/data/lentes"  method="post" class="pt-3 formulario">
                
                <div class="row pt-5 mb-4">
                    <div class="col-md-4 mb-3">
                        <input type="text" class="form-control" name="graduacao" placeholder="Graduação*">

                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" class="form-control" name="modelo" placeholder="Modelo*">
                        
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" class="form-control" name="quantidade" placeholder="Quantidade*">
                        
                    </div>

                    <div class="col-md-4 mb-3">
                        <input type="text" class="form-control" name="valor" placeholder="Valor*">
                        
                    </div>
        

                  

                <div class="button-Send">
                    <button class="btn btn-success" type="submit">Cadastrar</button>
                </div>

            </form>
        </div>
    </section>
</main>


<%- include('includes/footer') %>