<%- include('includes/header') %>
<%- include('includes/navbar') %>


    <main role="main" class="mt-5 pt-5" >

        <div class="contentOrgnizer">
            <h1 class="my-4">Stock de Lentes</h1>

            <table class="table table-bordered table-hovered tabela-stripped tabela">
                <thead>
                   <tr>
                    <th class="bg-info">Id</th>
                    <th class="bg-warning">Quantidade</th>
                    <th class="bg-success">Referência do Lente</th>
                    <th>Valor total</th>
                   </tr>
                    
                </thead>
                
                <tbody>

                  

                   
                </tbody>
            </table>
        


    </main>


<%- include('includes/footer') %>